$grass: #78C850;
$normal: #A8A878;
$fire: #F08030;
$fighting: #C03028;
$water: #6890F0;
$flying: #A890F0;
$poison: #A040A0;
$electric: #F8D030;
$ground: #E0C068;
$psychic: #F85888;
$rock: #B8A038;
$ice: #98D8D8;
$bug: #A8B820;
$dragon: #7038F8;
$ghost: #705898;
$dark: #705848;
$shadow: #A8A878;
$steel: #B8B8D0;
$fairy: #EE99AC;
$unknown: #68A090;

$types: ("grass": $grass,
    "normal": $normal,
    "fire": $fire,
    "fighting": $fighting,
    "water": $water,
    "flying": $flying,
    "poison": $poison,
    "electric": $electric,
    "ground": $ground,
    "psychic": $psychic,
    "rock": $rock,
    "ice": $ice,
    "bug": $bug,
    "dragon": $dragon,
    "ghost": $ghost,
    "dark": $dark,
    "shadow": $shadow,
    "steel": $steel,
    "fairy": $fairy,
    "unknown": $unknown,
);
// Background colour generators
@each $type,
$colour in $types {
    .bg--#{$type} {
        background-color: $colour;
    }
}

@each $type,
$colour in $types {

    @each $type_nested,
    $colour_nested in $types {
        .bg--#{$type}--#{$type_nested} {
            background: linear-gradient(to bottom right, $colour, $colour_nested);
        }
    }
}

// Box shadow generators
$boxShadowParams: 0px 4px 10px 2px;
@each $type,
$colour in $types {
    .bg--#{$type} {
        box-shadow: $boxShadowParams rgba($colour, 0.5);
    }
}

@each $type,
$colour in $types {

    @each $type_nested,
    $colour_nested in $types {
        .boxShadow--#{$type}--#{$type_nested} {
            box-shadow: $boxShadowParams rgba($colour, 0.5), $boxShadowParams rgba($colour_nested, 0.5);
        }
    }
}
