@use 'variables'as vars;

.type-pill {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);

    img {
        filter: brightness(0) invert(1) drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.5));
    }
}